src/main/resources/samples/patient.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="patient" type="patientType"/>
  <xs:complexType name="patientType">
    <xs:sequence>
      <xs:element type="xs:string" name="fullname"/>
      <xs:element type="xs:string" name="diagnosis"/>
      <xs:element type="xs:string" name="age"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>
</xs:schema>